# Database (PostgreSQL)
# Leave POSTGRES_DB unset to use SQLite instead.
POSTGRES_DB=el_conta_db
POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Email
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Other settings
ALLOW_ORIGINS=http://localhost:3000
GIT_COMMIT=unknown
ENV=develop
