# Database
# Leave DB_ENGINE unset (or set to django.db.backends.sqlite3) to use SQLite by default.
# For PostgreSQL:
DB_ENGINE=django.db.backends.postgresql
DB_NAME=el_conta_db
DB_USER=my_user
DB_PASSWORD=my_password
DB_HOST=localhost
DB_PORT=5432

# For MySQL, change DB_ENGINE to:
# DB_ENGINE=django.db.backends.mysql

# Email
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
