{% load static %}
{% url 'export_lsd:home' as lsd_home_url %}
{% url 'siradig' as siradig_home_url %}
{% url 'pem-a-excel' as pem_home_url %}

<!-- ======= Header ======= -->
 <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% if request.resolver_match.namespace == 'export_lsd' %}{{ lsd_home_url }}{% elif request.path|slice:':9' == '/siradig/' %}{{ siradig_home_url }}{% elif request.path|slice:':13' == '/other-tools/' %}{{ pem_home_url }}{% else %}{% url 'homepage' %}{% endif %}" class="logo d-flex align-items-center">
        <img src="{% if request.resolver_match.namespace == 'export_lsd' %}{% static 'export_lsd/img/logo.png' %}{% elif request.path|slice:':9' == '/siradig/' %}{% static 'img/siradig-logo.png' %}{% elif request.path|slice:':13' == '/other-tools/' %}{% static 'img/8011-logo.png' %}{% else %}{% static 'export_lsd/img/logo.png' %}{% endif %}" alt="Logo">
        <span class="d-none d-lg-block">{% if request.resolver_match.namespace == 'export_lsd' %}Exporta LSD{% elif request.path|slice:':9' == '/siradig/' %}Siradig Reader{% elif request.path|slice:':13' == '/other-tools/' %}Controlador Fiscal{% else %}El Conta{% endif %}</span>
      </a>
      <i class="fas fa-bars toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto px-3">
        Bienvenido
        <a href="#">
          {% if user.first_name %}
              {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}
            {% else %}
              {{ user.username }}
            {% endif %}
        </a>
        -
        <a href="{% url 'homepage' %}">Home</a>
        -
        <a href="{% url 'logout' %}">Cerrar sesión</a>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
