{% extends "specific/form.html" %}
{% load static %}

{% block title %} Importador archivos Controlador Fiscal {% endblock title%}
{% block content %}

    <form method="post" enctype="multipart/form-data" class="mb-3">  
        {% csrf_token %}
        <div class="container">
            <p>Seleccione el archivo de importación</p>
            <div class="input-group mb-1" style="width: 58.33%;">
                <input class="form-control" type="file" id="formFile" name="file_pem" width="50%" accept=".pem">
                <button type="submit" class="button_submit input-group-text">Subir</button>
            </div>
        </div>
    </form>

    <!-- Resultados correctos -->
    <div class="container my-3">
        <div class="row">
            <div class="col-7">
                <div class="card top-selling overflow-auto">
                    <div class="card-body pb-0">
                    <h5 class="card-title text-center">Resultados de Importación</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center" scope="col" style="width: 10%">Leg</th>
                            <th class="text-center" scope="col" style="width: 30%">Nombre</th>
                            <th class="text-center" scope="col" style="width: 10%">CUIL</th>
                            <th class="text-center" scope="col" style="width: 35%">Div. Pers.</th>
                            <th class="text-center" scope="col" style="width: 15%">Alta</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% if results_empleados.results_data %}
                              {% for result in results_empleados.results_data %}
                                <tr>
                                    <td class="text-center small">{{ result.principal.info_data.legajo }}</td>
                                    <td class="text-center small">
                                        {{ result.principal.info_data.last_name }},
                                        {{ result.principal.info_data.first_name }}
                                    </td>
                                    <td class="text-center small">{{ result.principal.info_data.cuil }}</td>
                                    <td class="text-center small">
                                        {{ result.asignacion_organizativa.info_data.division_personal }}
                                    </td>
                                    <td class="text-center small">
                                        {{ result.principal.info_data.fecha_ingreso|date:"d/m/Y" }}
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endif %}    
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    {% if results_empleados.results_data %}
                    <div class="container my-3 text-center">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="has_confirmation" value="Yes">
                            <button class="btn btn-primary btn-flat btnTest">
                                <i class="fa-solid fa-file-import"></i> Confirmar Importación
                            </button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div><!-- End Resultados ok -->
            <!-- Resultados incorrectos -->
            <div class="col-5"> 
                {% if results_empleados.invalid_data %}
                <div class="card top-selling overflow-auto">
                    <h5 class="card-title text-center">Errores en el proceso de Importación</h5>
                        <ul class="list-group list-group-flush">
                            {% for data in results_empleados.invalid_data %}
                            <li class="list-group-item text-center text-info"><small>{{ data }}</small></li>
                            {% endfor %}
                        </ul>
                </div>
                {% endif %}
            </div><!-- Resultados incorrectos -->
        </div>
    </div>

{% endblock content %}

{% block extra_footer_scripts_before %}
    <script>
        {% if error %}
            var errors = "{{ error|safe }}";
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}

    $(document).ready(
    function(){
        $('.button_submit').attr('disabled',true);
        $('input:file').change(
            function(){
                if ($(this).val()){
                    $('.button_submit').removeAttr('disabled'); 
                }
                else {
                    $('.button_submit').attr('disabled',true);
                }
            });
    });
    </script>
{% endblock %}
